In [24]:
!pip install dplyr
!pip install lubridate
!pip install ggplot2
!pip install data.table

Collecting dplyr

  Could not find a version that satisfies the requirement dplyr (from versions: )
No matching distribution found for dplyr
You are using pip version 9.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Collecting lubridate

  Could not find a version that satisfies the requirement lubridate (from versions: )
No matching distribution found for lubridate
You are using pip version 9.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Collecting ggplot2

  Could not find a version that satisfies the requirement ggplot2 (from versions: )
No matching distribution found for ggplot2
You are using pip version 9.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Collecting data.table

  Could not find a version that satisfies the requirement data.table (from versions: )
No matching distribution found for data.table
You are using pip version 9.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [29]:
librry(data.table)
library(dplyr)
library(lubridate)
library(ggplot2)

NameError: name 'librery' is not defined

In [30]:
import pandas as pd

In [49]:
demo = pd.read_csv('C:/Users/AnupamaRatha/Desktop/Study/Data/future-volume-prediction/train/event_calendar.csv', encoding='utf-8')

FileNotFoundError: File b'C:/Users/AnupamaRatha/Desktop/Study/Data/future-volume-prediction/train/event_calendar.csv' does not exist

In [ ]:
demo.head()

In [ ]:
import datetime
datetime.datetime.strptime('2010', '%d%m%Y').date()

In [ ]:
demo.dtypes

In [ ]:
dateNum = 201001

dateNum = str(dateNum)

year = dateNum[:4]
monthDay = dateNum[4:]

#day = monthDay[2:]
month = monthDay[:2]

print(year +  "," + month)

In [ ]:
import os
import glob
import pandas as pd
os.chdir("C:/Users/AnupamaRatha/Desktop/Study/Data/future-volume-prediction/train")

In [ ]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [ ]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [ ]:
print combined_csv

In [50]:
combined_csv. head(5)

,Agency,Avg_Max_Temp,Avg_Population_2017,Avg_Yearly_Household_Income_2017,Beer Capital,Christmas,Easter Day,FIFA U-17 World Cup,Football Gold Cup,Good Friday,...,Price,Promotions,Regional Games,Revolution Day Memorial,SKU,Sales,Soda_Volume,Volume,YearMonth,YearMonth.1
0,Agency_05,NaN,3044268.0,182944.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Agency_02,NaN,3137874.0,240809.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Agency_55,NaN,2025793.0,238553.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Agency_53,NaN,1729177.0,111048.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Agency_50,NaN,2057678.0,144594.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

NameError: name 'pd' is not defined

In [31]:
demo1= pd.read_csv('C:/Users/AnupamaRatha/Desktop/Study/Data/future-volume-prediction/train/demographics.csv', encoding='utf-8')
demo2= pd.read_csv('C:/Users/AnupamaRatha/Desktop/Study/Data/future-volume-prediction/train/industry_volume.csv', encoding='utf-8')
demo3= pd.read_csv('C:/Users/AnupamaRatha/Desktop/Study/Data/future-volume-prediction/train/weather.csv', encoding='utf-8')
demo4= pd.read_csv('C:/Users/AnupamaRatha/Desktop/Study/Data/future-volume-prediction/train/price_sales_promotion.csv', encoding='utf-8')
display(demo1.head(1), demo2.head(1), demo3.head(1),demo4.head(1))

display(demo5.head(1), demo6.head(1), demo7.head(1),demo8.head(1))

      Agency  Avg_Population_2017  Avg_Yearly_Household_Income_2017
0  Agency_05              3044268                            182944

   YearMonth  Industry_Volume
0     201301        492612703

   YearMonth     Agency  Avg_Max_Temp
0     201301  Agency_01        17.072

      Agency     SKU  YearMonth   Price        Sales  Promotions
0  Agency_01  SKU_01     201301  1141.5  1033.432731  108.067269

In [40]:
demo1. head(5)

      Agency  Avg_Population_2017  Avg_Yearly_Household_Income_2017
0  Agency_05              3044268                            182944
1  Agency_02              3137874                            240809
2  Agency_55              2025793                            238553
3  Agency_53              1729177                            111048
4  Agency_50              2057678                            144594

In [ ]:
import os
import glob
import pandas as pd
os.chdir("C:/Users/AnupamaRatha/Desktop/Study/Data/future-volume-prediction/train")

In [36]:
#combine all files in the list
#combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
#combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

df = pd.concat([demo2, demo2, demo4], axis=1, join='outer')
df.set_index('Agency', inplace=True)

print(df.head())
df.to_csv('df.csv')

TypeError: concat() got an unexpected keyword argument 'how'

In [38]:
left_merge1 = pd.merge(left=demo3, right=demo2, on="Agency", how="left")
left_merge1.head(20)
left_merge1.to_csv( "left_merge.csv", index=False, encoding='utf-8-sig')

KeyError: 'Agency'

In [39]:
left_merge1.head(2)

,Agency,Avg_Population_2017,Avg_Yearly_Household_Income_2017,YearMonth,Avg_Max_Temp
0,Agency_05,3044268,182944,201301,24.079012
1,Agency_05,3044268,182944,201302,28.416049

In [13]:
left_merge2 = pd.merge(left=left_merge1, right=demo4, on="YearMonth", how="left")
left_merge2.head(20)
left_merge2.to_csv( "left_merge2.csv", index=False, encoding='utf-8-sig')

In [14]:
left_merge2.head(2)

,Agency_x,Avg_Population_2017,Avg_Yearly_Household_Income_2017,YearMonth,Avg_Max_Temp,Agency_y,SKU,Price,Sales,Promotions
0,Agency_05,3044268,182944,201301,24.079012,Agency_01,SKU_01,1141.500000,1033.432731,108.067269
1,Agency_05,3044268,182944,201301,24.079012,Agency_02,SKU_01,1112.754748,1033.372521,79.382227

In [45]:
demo1= pd.read_csv('C:/Users/AnupamaRatha/Desktop/Study/Data/future-volume-prediction/train/demographics.csv', encoding='utf-8')
demo2= pd.read_csv('C:/Users/AnupamaRatha/Desktop/Study/Data/future-volume-prediction/train/industry_volume.csv', encoding='utf-8')
demo3= pd.read_csv('C:/Users/AnupamaRatha/Desktop/Study/Data/future-volume-prediction/train/weather.csv', encoding='utf-8')
demo4= pd.read_csv('C:/Users/AnupamaRatha/Desktop/Study/Data/future-volume-prediction/train/price_sales_promotion.csv', encoding='utf-8')
demo5= pd.read_csv('C:/Users/AnupamaRatha/Desktop/Study/Data/future-volume-prediction/train/historical_volume.csv', encoding='utf-8')
demo2= pd.read_csv('C:/Users/AnupamaRatha/Desktop/Study/Data/future-volume-prediction/train/industry_soda_sales.csv', encoding='utf-8')
demo6= pd.read_csv('C:/Users/AnupamaRatha/Desktop/Study/Data/future-volume-prediction/train/industry_volume.csv', encoding='utf-8')
demo7= pd.read_csv('C:/Users/AnupamaRatha/Desktop/Study/Data/future-volume-prediction/train/event_calendar.csv', encoding='utf-8')
display(demo1.head(1), demo2.head(1), demo3.head(1),demo4.head(1)),demo5.head(1), demo6.head(1), demo7.head(1),

      Agency  Avg_Population_2017  Avg_Yearly_Household_Income_2017
0  Agency_05              3044268                            182944

   YearMonth  Soda_Volume
0     201301    718394219

   YearMonth     Agency  Avg_Max_Temp
0     201301  Agency_01        17.072

      Agency     SKU  YearMonth   Price        Sales  Promotions
0  Agency_01  SKU_01     201301  1141.5  1033.432731  108.067269

(None,       Agency     SKU  YearMonth  Volume
 0  Agency_22  SKU_01     201301  52.272,    YearMonth  Industry_Volume
 0     201301        492612703,    YearMonth  Easter Day  Good Friday  New Year  Christmas  Labor Day  \
 0     201301           0            0         1          0          0

    Independence Day  Revolution Day Memorial  Regional Games   \
 0                 0                        0                0

    FIFA U-17 World Cup  Football Gold Cup  Beer Capital  Music Fest
 0                    0                  0             0           0  )

In [ ]:
left_merge3 = pd.merge(left=left_merge2, right=demo5, on="YearMonth", how="left")
left_merge3.head(20)
left_merge3.to_csv( "left_merge3.csv", index=False, encoding='utf-8-sig')

In [ ]:
left_merge3 = pd.merge(left=left_merge2, right=demo5, on="YearMonth", how="left")
left_merge3.head(20)
left_merge3.to_csv( "left_merge3.csv", index=False, encoding='utf-8-sig')